/* x-large devices */
@media (max-width: 1399.98px) {

}

/* large devices */
@media (max-width: 1199.98px) {

}

/* medium devices */
@media (max-width: 991.98px) {
    .logo {
        margin-top: 10px;
    }
    .mobile-menu {
        margin-top: -7px;
    }

    .mean-container a.meanmenu-reveal {
        border: none;
        color: #fff;
        padding: 8px 0px;
    }
    .mean-container a.meanmenu-reveal span {
        background: #fff none repeat scroll 0 0;
    }

}

/* small devices */
@media (max-width: 767.98px) {
    .logo {
        margin-top: 12px;
    }
    .logo a {
        font-size: 18px;
        letter-spacing: unset;
    }
    .logo .logo-first {
        padding-right: 5px;
    }
    .mobile-menu {
        margin-top: -7px;
    }

    .mean-container a.meanmenu-reveal {
        border: none;
        color: #fff;
        padding: 8px 0px;
    }
    .mean-container a.meanmenu-reveal span {
        background: #fff none repeat scroll 0 0;
    }

    .ass-btn-outline {
        margin-bottom: 15px;
    }

    /* Top Area */
    .top-area {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .top-left-title {
        font-size: 32px;
    }
    .top-left-price {
        font-size: 30px;
    }
    .top-left-price sup {
        font-size: 18px;
        top: -16px;
    }
    .top-left-price span {
        font-size: 18px;
    }
    .top-left-price span sup {
        top: -5px;
    }
    .top-right img {
        display: none;
    }

    .support-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .support-area .section-title {
        margin-bottom: 0 !important;
    }
    .stead-area {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .promo-area {
        padding-bottom: 20px;
    }
    .promo-box {
        display: block;
        padding: 20px 10px !important;
        text-align: center;
        margin-bottom: 25px;
    }
    .promo-box-text {
        margin-bottom: 20px;
    }
    .promo-button .promo-btn {
        padding: 10px 30px;
        margin-left: 0;
    }
    .promo-info {
        margin-top: 15px !important;
    }

    .service-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-title h2 {
        font-size: 32px;
    }

    .campaign-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .strategy-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .landing-page-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .expart-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .expart-area .campaign-left img {
        margin-top: 20px;
    }

    .advertising-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .works-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .works-line::before {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        border-top: 0;
        border-left: 2px solid #fff;
        top: 35px;
        left: -5px;
        margin-left: 39px;
    }
    .works-box .works-number {
        float: left;
    }
    .works-text {
        padding-top: 12px;
        padding-left: 60px;
    }

    .case-stadies-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .pricing-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .questions-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .message-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .message-area .section-title {
        text-align: left !important;
        margin-bottom: 25px !important;
    }

}

/* x-small */
@media (max-width: 575.98px) {
    
}