* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    color: #4a4242;
    line-height: 1.3;
}
p {
    color: #645d5d;
    line-height: 1.5rem;
}
img {
    width: 100%;
}
.pt-100 {
    padding-top: 30px;
}
.pb-100 {
    padding-bottom: 30px;
}
.btn {
    background-color: #e22d1b;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    letter-spacing: .5px;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color .29s ease-in-out 0s;
}
.btn:hover {
    color: #fff;
    background-color: #b23733;
}
.btn:focus {
    box-shadow: none;
}
.ass-btn {
    font-size: 1rem;
    padding: 12px 40px;
}
.promo-btn {
    font-size: 13px;
    padding: 10px 100px;
    margin-left: 20px;
}

.bg-1 {
    background: #E5F0FC;
}
.bg-2 {
    background: #F8F6F6;
}
.bg-3 {
    background: #92B4D0;
}
.bg-4 {
    background: #E2E2E2;
}

/* Header */
.header-top {
    background-color: #222;
}
.logo {
    display: inline-block;
}
.logo a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}
.logo .logo-first {
    color: #fff;
    border-right: 1px solid #4a4242;
    padding-right: 8px;
}
.logo .logo-second {
    color: #E22D1B;
}

.main-menu ul {
    margin-bottom: 0;
}
.main-menu ul li {
	display: inline-block;
	position: relative;
    margin-left: 30px;
}
.main-menu ul li a {
	font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 34px 0;
    text-decoration: none;
}
.main-menu ul li:hover > a, .main-menu ul li.active > a {
	color: #e22d1b;
}
.main-menu ul li .submenu {
    position: absolute;
    top: 110%;
    left: 0;
    background: #333333;
    min-width: 250px;
    /* border-top: 2px solid #00c867; */
    transition: .3s;
    text-align: left;
    box-shadow: 0px 15px 30px 0px rgba(0, 3, 143, 0.1);
	padding: 0px 0px;
	transform: scaleY(0);
	transform-origin: top;
	opacity: 0;
    visibility: hidden;
}
.main-menu ul li:hover > .submenu {
    top: 100%;
	opacity: 1;
    visibility: visible;
	transform: scaleY(1);
}
.main-menu ul li .submenu li {
    display: block;
    margin: 0;
}
.main-menu ul li .submenu li a {
	color: #fff;
	padding: 15px 25px;
	display: block;
	font-size: 12px;
}
.main-menu ul li .submenu li a:hover {
    background: #e22d1b;
}
.main-menu ul li .submenu li .submenu {
	left: 100%;
	top: 0;
}
.main-menu ul li .submenu li:hover > a {
	color: #fff;
}

/* Top Area */
.top-area {
    background-color: #F4F4F4;
}
.top-left-title {
    font-size: 41px;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
}
.top-left-title span {
    color: #034083;
}
.top-left p {
    color: #333;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 30px;
}
.top-left-price {
    color: #034083;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.top-left-price sup {
    font-size: 20px;
    top: -18px;
}
.top-left-price span {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 2px 3px #333;
}
.top-left-price span sup {
    font-size: 14px;
    top: -5px;
}
.ass-btn-outline {
    text-transform: uppercase;
    border: 2px solid #ff9421;
    color: #ff9421;
    font-weight: 500;
    background: none;
    margin-right: 15px;
}
.ass-btn-outline:hover {
    color: #ff9421;
    background: none;
}
.ass-btn-outline-info {
    text-transform: uppercase;
    border: 2px solid #469dfd;
    color: #469dfd;
    font-weight: 500;
    background: none;
}
.ass-btn-outline-info:hover {
    color: #469dfd;
    background: none;
}
.top-right img {
    width: 100%;
}

/* Support Area */
.support-box {
    border: 1px solid #5b5b5b33;
}
.support-box img {
    width: 70px;
    margin-right: 15px;
}
.support-box h4 {
    font-size: 24px;
    line-height: 46px;
    margin-bottom: 0;
    line-height: 1.3;
}

/* Stead Area */
.stead-area {
    background-color: #F3F3F3;
}
.stead-icon img {
    width: 76px;
    height: auto;
    margin-right: 20px;
}
.stead-text h4 {
    /* color: #000; */
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}
.stead:hover h4 {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Hero Area */
.hero-area {
    background: #312929;
}
.hero-text h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}
.hero-text p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

/* Promo Area */
.promo-area {
    background-color: #F8F6F6;
}
.promo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 6px;
    margin-top: -180px;
    box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 15%);
}
.promo-box-text p {
    font-size: 14px;
    color: #23CE6B;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.promo-box-text h2 {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}
.promo-box-text span {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
}
.promo-info img {
    width: 60px;
}
.promo-info h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.promo-info p {
    font-size: 16px;
    font-weight: 400;
}

/* Service Area */
.service-area {
    background-color: #FFFFFF;
}
.section-title span {
    color: #23ce6b;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.section-title h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}
.service-text p {
    color: #645d5d;
    font-size: 18px;
    font-weight: 400;
}
.service-text h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Campaign Area */
.campaign-left img {
    border-radius: 10px 30px;
}
.campaign-box {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 3px 4px rgb(0 0 0 / 8%);
    transition: all .29s ease-in-out 0s;
}
.campaign-box h4 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
}
.campaign-box p {
    margin-bottom: 0;
}
.campaign-box:hover {
    border-color: #bab6b6;
    box-shadow: 0 3px 15px 1px rgb(0 0 0 / 8%);
}
/* Advertising Area */
.advertising-box {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.125);
    transition: all .29s ease-in-out 0s;
}
.advertising-box img {
    width: 60px;
    margin-bottom: 15px;
}
.advertising-box p {
    margin-bottom: 0;
}
.advertising-box:hover {
    border-color: #bab6b6;
    box-shadow: 0 3px 15px 1px rgb(0 0 0 / 8%);
}
/* Works Area */
.works-area {
    background-color: #F8F6F6;
}
.works-line {
    position: relative;
}
.works-line::before {
    position: absolute;
    content: "";
    width: 100%;
    border-top: 2px solid #fff;
    top: 22px;
    margin-left: 39px;
}
.works-line:last-child:before {
    border: none;
}
.works-box .works-number {
    height: 46px;
    width: 46px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 46px;
    color: #e22d1b;
    font-weight: 700;
    margin-bottom: 24px;
}
.works-box .works-text h4 {
    font-size: 16px;
    font-weight: 700;
}
.works-box .works-text p {
    font-weight: 500;
}
/* Case Studies */
.case-studies-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.case-studies-box h4 span {
    color: #23ce6b;
    margin-right: 5px;
    border-bottom: 2px solid #23ce6b;
}
.case-studies-box a {
    color: #3f88c5;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    margin-right: 10px;
}
.case-studies-box a .fa-arrow-right {
    width: 16px;
    margin-left: 5px;
    transition: .3s ease;
}
.case-studies-box a:hover .fa-arrow-right {
    margin-left: 12px;
}
/* Pricing */
.pricing-title {
    font-size: 24px;
    font-weight: 700;
}
.pricing-title img {
    width: 65px;
    margin-right: 15px;
}
.pricing-box {
    position: relative;
}
.pricing-box-text::after {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #23ce6b;
    position: absolute;
    top: 0;
    left: 0;
}
.pricing-box-text {
    margin-left: 25px;
}
.pricing-box-text h4 {
    font-size: 14px;
    font-weight: 700;
}
.pricing-box-text p {
    font-size: 14px;
}

.package-title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}
.package-box {
    border: 2px solid #f8f6f6;
    background-color: #f8f6f6;
    border-radius: 4px;
    padding: 30px 20px 20px;
    color: #645d5d;
    transition: all .29s ease-in-out 0s;
    position: relative;
    cursor: pointer;
}
.package-box-active .package-box-check::after {
    content: "\f00c";
    font-family: 'FontAwesome';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: #e22d1b;
}
.package-box-active {
    border: 2px solid #e22d1b;
}
.package-box-check {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.package-box:hover {
    border: 2px solid #e22d1b;
}
.package-box-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.package-box-boby p {
    font-size: 14px;
}
.package-include-head {
    color: #2eaa71;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}
.package-include ul {
    margin-left: -15px;
}
.package-include ul li {
    font-size: 14px;
    margin-bottom: 10px;
}

.package-calculate-box {
    border: 2px solid #f8f6f6;
    background-color: #f8f6f6;
    border-radius: 4px;
    padding: 30px 20px 20px;
    color: #645d5d;
    transition: all .29s ease-in-out 0s;
    margin-top: 53px;
}
.package-calculate-head, .package-calculate-body {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #fff;
}
.package-calculate-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
.package-calculate-head span, .package-calculate-body span {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}
.package-ad-spend span, .package-management-fee span, .package-setup-fee span {
    font-size: 14px;
    font-weight: normal;
}
.ad-spend, .ad-spend span, .management-fee, .management-fee span, .setup-fee, .setup-fee span {
    font-weight: 600;
}
.package-calculate-footer p {
    font-size: 16px;
    margin-bottom: 0;
}
.package-calculate-footer {
    margin-top: 15px;
}
.package-calculate-footer .total, .package-calculate-footer .total span {
    font-size: 16px;
    font-weight: 600;
}

.monthly-spend-text .monthly-spend-title {
    font-size: 18px;
    font-weight: 700;
}
.monthly-spend-text p {
    font-size: 14px;
}
.monthly-spend-text p strong {
    color: #193b71;
}
.monthly-spend-amount {
    margin-left: 30px;
}
.monthly-spend-amount small {
    color: #9c9797;
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
}
.monthly-spend-amount span {
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
    position: relative;
}
/* .monthly-spend-amount span::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #23CE6B;
    position: absolute;
    bottom: 55px;
    left: 0;
} */

.range {
    margin-bottom: 20px;
}
.range input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: #F7F2EF;
    height: 10px;
    border-radius: 50px;
}
.range input[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none;
    height:24px;
    width:24px;
    border-radius:16px;
    background:#e22d1b;
    cursor:pointer;
}
.range input[type=range]::-moz-range-thumb{
    -webkit-appearance:none;
    height:24px;width:24px;
    border-radius:16px;
    background:#e22d1b;
    cursor:pointer;
    border:none
}
.range input[type=range]::-ms-thumb{
    -webkit-appearance:none;
    height:24px;
    width:24px;
    border-radius:16px;
    background:#e22d1b;
    cursor:pointer;
    border:none
}
.range input[type=range]:hover::-webkit-slider-thumb{
    background:#b23733;
    box-shadow:0 3px 15px 1px rgba(0,0,0,.08)
}
.range input[type=range]:hover::-moz-range-thumb{
    background:#b23733;
    box-shadow:0 3px 15px 1px rgba(0,0,0,.08)
}
.range input[type=range]:hover::-ms-thumb{
    background:#b23733;
    box-shadow:0 3px 15px 1px rgba(0,0,0,.08)
}
.range-labels .range-label {
    font-size: 12px;
}

/* Questions Area */
.questions-area {
    background-color: #F8F6F6;
}
.questions-item {
    border-radius: 4px;
    background-color: #fff;
}
.questions-header {
    padding: 1.25em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: color .29s ease-in-out 0s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions-header .questions-header-text {
    font-size: 18px;
    font-weight: 700;
}
.questions-header .fa-chevron-right {
    transition: transform .2s ease-in,color .29s ease-in-out 0s;
 }
.questions-header:hover .questions-header-text, .questions-header:hover .fa-chevron-right {
    color: #e22d1b;
}
.questions-content {
    border-top: 1px solid #f7f2ef;
    transition: display .29s ease-in-out 0s;
    padding: 1.25em;
    display: none;
}
.questions-open .questions-content {
    display: block;
}
.questions-open .questions-header-text, .questions-open .fa-chevron-right {
    color: #e22d1b;
}
.questions-open .fa-chevron-right {
    transform: rotate(90deg);
}
.questions-content-text h5 {
    font-size: 16px;
    font-weight: 700;
}
.questions-content-text a {
    color: #e22d1b;
    text-decoration: none;
}
.questions-content-text a:hover {
    color: #b23733;
    text-decoration: underline;
}

/* Message */
.message-area {
    background-color: #e22d1b;
}
.section-title-white h2 {
    color: #fff;
}
.message-text h5 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.message-text p {
    color: #fff;
}
.message-btn {
    color: #e22d1b;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 20px;
    background-color: #fff;
}
.message-btn:hover {
    border: 2px solid #fff;
    background-color: transparent;
}
.message-field label {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}
.message-field input {
    color: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    outline: none;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: transparent;
}
.message-field textarea {
    color: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    outline: none;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: transparent;
}

/* Footer */
.footer-area {
    background-color: #312929;
}
.footer-social-text {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.footer-social-icon a .fa {
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin: 0 5px;
}